<!-- หน้า about -->
<!-- <img src="/assets/comsciubu-facebook.jpg" alt="CSUBU" class="center"> -->
<!-- <img src="/assets/images/pare.jpg" alt="CSUBU" align="center" width="300"  height="300"> -->
<html>

<head>
    <title>
        <!-- Insert Images : ตำแหน่งและเส้นขอบรูปภาพ -->
    </title>
</head>
<body>
        <div align="center">
        <!-- ตำแหน่งและเส้นขอบรูปภาพ<br> -->
        <img src="/assets/images/pare.jpg" alt="CSUBU" width="300"  height="300" >
        <h3><b>Duenchay Wongtree</b></h3>
        <p>60114440118</p>
        <p>Nickname : Pare</p>
        <p>Age : 20</p>
        <p>My favorite song : baby don't cry</p>
        <p>My favorite place : my bed</p>
    
        <p>E-mail : duenchay.wo.60@ubu.ac.th</p>
        
        </div>
</body>
</html>